<div class="jumbotron">
    <h1>Leaderboard.Web</h1>

    <h4>Auth Request</h4>
    <form id="userData" class="form-inline">
        <input type="text" name="userName" placeholder="Name" class="form-control" value="Andrew" />
        <input type="password" name="password" placeholder="Password" class="form-control" value="Andrew" />
        <input type="password" name="confirmPassword" placeholder="Password" class="form-control" value="Andrew" />
        <input type="submit" id="login" value="Login" class="btn btn-primary" />
        <input type="submit" id="register" value="Register" class="btn btn-default" />
    </form>

    <h4>Commands</h4>
    <div class="form-group">
        <button id="getScores" class="btn btn-success">Get Scores</button>
    </div>
    <div class="form-group">
        <button id="getMyScores" class="btn btn-success">Get My Scores</button>
    </div>

    <div class="form-group">
        <button id="submitScore" class="btn btn-success" style="display:inline-block;">Submit Score</button>
        <input type="text" name="score" id="score" placeholder="Score" class="form-control score-input" value="10" />
        <div class="clearfix"></div>
    </div>

    <h4>Output Window</h4>
    <pre id="output"></pre>
</div>

@section Scripts{
    <script>

        $(function () {

            var getScores = function () {
                var url = "/api/leaderboard/";
                $.ajax(url, {
                    type: "GET",
                    headers: getHeaders()
                }).always(showResponse);
                return false;
            };

            var getMyScores = function () {
                var url = "/api/leaderboard/myscores";
                $.ajax(url, {
                    type: "GET",
                    headers: getHeaders()
                }).always(showResponse);
                return false;
            };

            var submitScore = function () {
                var url = "/api/leaderboard";
                var data = { score: $("#score").val() };

                console.log(data);
                $.ajax(url, {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    headers: getHeaders(),                    
                    data: JSON.stringify(data)
                }).always(showResponse);
                return false;
            };


            var getHeaders = function () {
                if (accessToken) {
                    return { "Authorization": "Bearer " + accessToken };
                }
            };

            var showResponse = function (object) {
                $("#output").text(JSON.stringify(object, null, 4));
            };

            var register = function () {
                var url = "/api/account/register";
                var data = $("#userData").serialize();
                $.post(url, data).always(showResponse);
                return false;
            };

            var saveAccessToken = function (data) {
                accessToken = data.access_token;
            };

            var login = function () {
                var url = "/Token";
                var data = $("#userData").serialize();
                data = data + "&grant_type=password";
                $.post(url, data)
                 .success(saveAccessToken)
                 .always(showResponse);


                return false;
            };

            var accessToken = "";

            $("#login").click(login);
            $("#register").click(register);
            $("#getScores").click(getScores);
            $("#getMyScores").click(getMyScores);
            $("#submitScore").click(submitScore);

        });

    </script>
}


