<div class="jumbotron">
    <h1>Leaderboard.Web</h1>

    <h4>Auth Request</h4>
        <form id="userData">
        <input type="text" name="userName" placeholder="Name" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="confirmPassword" placeholder="Password" />
        <input type="submit" id="register" value="Register" />
        <input type="submit" id="login" value="Login" />
    </form>

    <h4>Commands</h4>
    <button id="getScores">Get Scores</button>

    <h4>Output Window</h4>
    <pre id="output"></pre>
</div>

@section Scripts{
    <script>

        $(function () {

            var getScores = function () {
                var url = "/api/leaderboard/";
                $.ajax(url, {
                    type: "GET",
                    headers: getHeaders()
                }).always(showResponse);
                return false;
            };

            var submitScore = function () {
                var url = "/api/leaderboard/";
                $.ajax(url, {
                    type: "POST",
                    headers: getHeaders(),
                    data: 10
                }).always(showResponse);
                return false;
            };


            var getHeaders = function () {
                if (accessToken) {
                    return { "Authorization": "Bearer " + accessToken };
                }
            };

            var showResponse = function (object) {

                $("#output").text(JSON.stringify(object, null, 4));

            };

            var register = function () {
                var url = "/api/account/register";
                var data = $("#userData").serialize();
                $.post(url, data).always(showResponse);
                return false;
            };

            var saveAccessToken = function (data) {
                accessToken = data.access_token;
            };

            var login = function () {
                var url = "/Token";
                var data = $("#userData").serialize();
                data = data + "&grant_type=password";
                $.post(url, data)
                 .success(saveAccessToken)
                 .always(showResponse);


                return false;
            };

            var accessToken = "";

            $("#login").click(login);
            $("#register").click(register);
            $("#getScores").click(getScores);

        });

    </script>
}


