<div class="jumbotron">
    <h1>Leaderboard.Web</h1> 
    <p> You <strong>ARE NOT REQUIRED</strong> to use an account to read/write scores. 
    Any commands performed while not authenticated will defaults to an 'anonymous' user. Get started by using the <button disabled class="btn btn-success">COMMAND BUTTONS</button> below. For additional examples please visit the <a target="_blank" class="kurlit" href="https://kurl.it/kurls/list">KURL.IT Suite</a></p>

    <hr />
    <h2>Auth Request</h2>
    <form id="userData" class="form-inline">
        <input type="text" name="userName" placeholder="Name" class="form-control" value="" />
        <input type="password" name="password" placeholder="Password" class="form-control" value="" />
        <input type="password" name="confirmPassword" placeholder="Password" class="form-control" value="" />
        <input type="submit" id="login" value="Login" class="btn btn-primary" />
        <input type="submit" id="register" value="Register" class="btn btn-default" />
    </form>

    <h2>Commands</h2>
    <div class="form-group">
        <button id="getScores" class="btn btn-success">Get Scores</button>
    </div>
    <div class="form-group">
        <button id="getMyScores" class="btn btn-success">Get My Scores</button>
    </div>

    <div class="form-group">
        <button id="submitScore" class="btn btn-success" style="display:inline-block;">Submit Score</button>
        <input type="text" name="score" id="score" placeholder="Score" class="form-control score-input" value="10" />
        <div class="clearfix"></div>
    </div>

    <h4>Output Window</h4>
    <div style="position:relative;">
        <span id="loading" style="">Awaiting Response ...</span>
        <pre id="output"></pre>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            var getScores = function () {
                var url = "/api/leaderboard/";
                $.ajax(url, {
                    type: "GET",
                    headers: getHeaders()
                }).always(showResponse);
                return false;
            };

            var getMyScores = function () {
                var url = "/api/leaderboard/myscores";
                $.ajax(url, {
                    type: "GET",
                    headers: getHeaders()
                }).always(showResponse);
                return false;
            };

            var submitScore = function () {
                var url = "/api/leaderboard";
                var data = { score: $("#score").val() };

                console.log(data);
                $.ajax(url, {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    headers: getHeaders(),                    
                    data: JSON.stringify(data)
                }).always(showResponse);

                return false;
            };
            
            var register = function () {
                var url = "/api/account/register";
                var data = $("#userData").serialize();
                $.post(url, data).always(showResponse);

                return false;
            };

            var login = function () {
                var url = "/Token";
                var data = $("#userData").serialize();
                data = data + "&grant_type=password";

                $.post(url, data)
                 .success(saveAccessToken)
                 .always(showResponse);

                return false;
            };

            var saveAccessToken = function (data) {
                accessToken = data.access_token;
            };

            var getHeaders = function () {
                if (accessToken) {
                    return { "Authorization": "Bearer " + accessToken };
                }
            };

            var showResponse = function (object) {
                $("#output").text(JSON.stringify(object, null, 4));
            };
                       

            var accessToken = "";

            $("#login").click(login);
            $("#register").click(register);
            $("#getScores").click(getScores);
            $("#getMyScores").click(getMyScores);
            $("#submitScore").click(submitScore);

            $("#loading").hide();

            $.ajaxSetup({
                beforeSend: function () {
                    $("#loading").show();
                },
                complete: function () {
                    $("#loading").fadeOut("slow");
                }
            });
        });
    </script>
}


