@model ILookup<string, Leaderboard.Data.UserScore>

<div class="jumbotron">
    <h1>Leaderboard</h1>
    <table class="table">
        @{int i = 1;}
        @foreach (var item in Model)
        {
            <ul>
                <li>@item.Key</li>
                <li>
                    <ul>
                        @foreach (var score in item)
                        {
                            <li>@score.Score</li>
                        }
                    </ul>
                </li>
            </ul>

        }
    </table>
</div>

@section Scripts{
    <script>

    </script>
}


