@model Tuple<string, int>

<div class="jumbotron">
    <h1>Leaderboard</h1>
    @{int i = 1;}
    @foreach (var item in Model)
    {
        <ul class="list-group">
            <li class="list-group-item">@item.Item1 - @item.Item2</li>
        </ul>
    }
</div>

@section Scripts{
    <script>

    </script>
}


